#NET CLK PERIOD = 20 ns;
#NET clockEnableBeginning TNM = slowGroup;
#TIMESPEC "TS_SYS_CLK" = PERIOD "slowGroup" 40 ns HIGH 50 %;

NET CLK250MHz TNM = normalTiming;
NET slowClockVector(0) TNM = slow_exception;  # slowClockVector(0) is the true name of slowClockEnable
#NET CLK62M5HZ TNM = slow_exception;
NET CLK31M25HZ TNM = slow_exception;


INST slowClockVector_0* TNM = risingEdgeEn;
INST fallingEdgeSlowClockEnable* TNM = fallingEdgeEn;
INST BUFGCE_inst2* TNM = BUFGCE;

INST *slowWritingDataTrain1* TNM = datatrain;
INST *incomingData* TNM = incomingdat;



#NET verySlowClockEnable(0) TNM = very_slow_exception;
#INST empty TNM = slow_exception;
NET "slowCount*" TNM = slow_exception;


TIMESPEC TS01 = PERIOD normalTiming 3.85 ns;
TIMESPEC TS02 = PERIOD slow_exception 7.5 ns;



TIMESPEC TS03 = FROM : risingEdgeEn : TO : fallingEdgeEn : 1.6 ns ;
TIMESPEC TS04 = FROM : datatrain : TO : incomingdat : 7.5 ns ;


#TIMESPEC TS04 = FROM : fallingEdgeEn : TO : BUFGCE : 1.6 ns ;




#PIN "BUFGCE_inst.O" CLOCK_DEDICATED_ROUTE = FALSE;
#PIN "your_instance_name/clkout1_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;






NET "clk" LOC = A10;


NET "clk" IOSTANDARD = LVCMOS33;


VREF=A3;
VREF=M3;


NET "switch2PORT" LOC = T8;
NET "switch3PORT" LOC = R7;

NET "addrPORT[0]" LOC = K5;
NET "addrPORT[1]" LOC = K6;
NET "addrPORT[2]" LOC = D1;
NET "addrPORT[3]" LOC = L4;
NET "addrPORT[4]" LOC = G5;
NET "addrPORT[5]" LOC = H4;
NET "addrPORT[6]" LOC = H3;
NET "addrPORT[7]" LOC = D3;
NET "addrPORT[8]" LOC = B2;
NET "addrPORT[9]" LOC = A2;
NET "addrPORT[10]" LOC = G6;
NET "addrPORT[11]" LOC = E3;
NET "addrPORT[12]" LOC = F3;
NET "addrPORT[13]" LOC = F6;
NET "addrPORT[14]" LOC = F5;

#NET "dataFAST[0]" LOC = K2;
NET "dataPORT[0]" LOC = K2;
NET "dataPORT[1]" LOC = K1;
NET "dataPORT[2]" LOC = J3;
NET "dataPORT[3]" LOC = J1;
NET "dataPORT[4]" LOC = F2;
NET "dataPORT[5]" LOC = F1;
NET "dataPORT[6]" LOC = G3;
NET "dataPORT[7]" LOC = G1;
NET "dataPORT[8]" LOC = L3;
NET "dataPORT[9]" LOC = L1;
NET "dataPORT[10]" LOC = M2;
NET "dataPORT[11]" LOC = M1;
NET "dataPORT[12]" LOC = P2;
NET "dataPORT[13]" LOC = P1;
NET "dataPORT[14]" LOC = R2;
NET "dataPORT[15]" LOC = R1;


NET "ck_pPORT" LOC = E2;
NET "ck_nPORT" LOC = E1;
NET "casPORT" LOC = H5;
NET "rasPORT" LOC = J6;
NET "wePORT" LOC = C1;
NET "ckePORT" LOC = F4;
NET "dqm0PORT" LOC = J4;
NET "dqm1PORT" LOC = K3;
NET "dqs0_pPORT" LOC = H2;
NET "dqs0_nPORT" LOC = H1;
NET "dqs1_pPORT" LOC = N3;
NET "dqs1_nPORT" LOC = N1;
NET "odtPORT" LOC = L5;
NET "resetPORT" LOC = E4;

NET "baPORT[0]" LOC = C3;
NET "baPORT[1]" LOC = C2;
NET "baPORT[2]" LOC = B1;


NET "LED0" LOC = P12;
NET "LED1" LOC = L8;
NET "LED2" LOC = T6;
NET "LED3" LOC = P9;
NET "blinkerPORT" LOC = R9;

NET "LEDBUS8" LOC = A14;
NET "LEDBUS7" LOC = C13;
NET "LEDBUS6" LOC = B12;
NET "LEDBUS5" LOC = C11;
NET "LEDBUS4" LOC = B10;
NET "LEDBUS3" LOC = C9;
NET "LEDBUS2" LOC = B8;
NET "LEDBUS1" LOC = C7;
NET "LEDBUS0" LOC = B6;



NET "PIN0" LOC = E13;
NET "PIN1" LOC = B16;
NET "PIN26" LOC = L14;
NET "PIN27" LOC = K12;


#NET "dummyOut" LOC = L10;


NET "switch2PORT" IOSTANDARD = LVCMOS33;
NET "switch3PORT" IOSTANDARD = LVCMOS33;

NET "addrPORT[14]" IOSTANDARD = SSTL15_II;
NET "addrPORT[13]" IOSTANDARD = SSTL15_II;
NET "addrPORT[12]" IOSTANDARD = SSTL15_II;
NET "addrPORT[11]" IOSTANDARD = SSTL15_II;
NET "addrPORT[10]" IOSTANDARD = SSTL15_II;
NET "addrPORT[9]" IOSTANDARD = SSTL15_II;
NET "addrPORT[8]" IOSTANDARD = SSTL15_II;
NET "addrPORT[7]" IOSTANDARD = SSTL15_II;
NET "addrPORT[6]" IOSTANDARD = SSTL15_II;
NET "addrPORT[5]" IOSTANDARD = SSTL15_II;
NET "addrPORT[4]" IOSTANDARD = SSTL15_II;
NET "addrPORT[3]" IOSTANDARD = SSTL15_II;
NET "addrPORT[2]" IOSTANDARD = SSTL15_II;
NET "addrPORT[1]" IOSTANDARD = SSTL15_II;
NET "addrPORT[0]" IOSTANDARD = SSTL15_II;
NET "baPORT[2]" IOSTANDARD = SSTL15_II;
NET "baPORT[1]" IOSTANDARD = SSTL15_II;
NET "baPORT[0]" IOSTANDARD = SSTL15_II;
NET "dataPORT[15]" IOSTANDARD = SSTL15_II;
NET "dataPORT[14]" IOSTANDARD = SSTL15_II;
NET "dataPORT[13]" IOSTANDARD = SSTL15_II;
NET "dataPORT[12]" IOSTANDARD = SSTL15_II;
NET "dataPORT[11]" IOSTANDARD = SSTL15_II;
NET "dataPORT[10]" IOSTANDARD = SSTL15_II;
NET "dataPORT[9]" IOSTANDARD = SSTL15_II;
NET "dataPORT[8]" IOSTANDARD = SSTL15_II;
NET "dataPORT[7]" IOSTANDARD = SSTL15_II;
NET "dataPORT[6]" IOSTANDARD = SSTL15_II;
NET "dataPORT[5]" IOSTANDARD = SSTL15_II;
NET "dataPORT[4]" IOSTANDARD = SSTL15_II;
NET "dataPORT[3]" IOSTANDARD = SSTL15_II;
NET "dataPORT[2]" IOSTANDARD = SSTL15_II;
NET "dataPORT[1]" IOSTANDARD = SSTL15_II;
NET "dataPORT[0]" IOSTANDARD = SSTL15_II;
#NET "dataFAST[0]" IOSTANDARD = SSTL15_II;

NET "casPORT" IOSTANDARD = SSTL15_II;
NET "ck_nPORT" IOSTANDARD = DIFF_SSTL15_II;
NET "ck_pPORT" IOSTANDARD = DIFF_SSTL15_II;
NET "ckePORT" IOSTANDARD = SSTL15_II;

NET "dqm0PORT" IOSTANDARD = SSTL15_II;
NET "dqm1PORT" IOSTANDARD = SSTL15_II;
NET "dqs0_nPORT" IOSTANDARD = DIFF_SSTL15_II;
NET "dqs0_pPORT" IOSTANDARD = DIFF_SSTL15_II;
#NET "dqs0_nPORT" IOSTANDARD = SSTL15_II;
#NET "dqs0_pPORT" IOSTANDARD = SSTL15_II;
NET "dqs1_nPORT" IOSTANDARD = DIFF_SSTL15_II;
NET "dqs1_pPORT" IOSTANDARD = DIFF_SSTL15_II;
NET "LED0" IOSTANDARD = LVCMOS33;
NET "LED1" IOSTANDARD = LVCMOS33;
NET "LED2" IOSTANDARD = LVCMOS33;
NET "LED3" IOSTANDARD = LVCMOS33;


NET "LEDBUS8" IOSTANDARD = LVCMOS33;
NET "LEDBUS7" IOSTANDARD = LVCMOS33;
NET "LEDBUS6" IOSTANDARD = LVCMOS33;
NET "LEDBUS5" IOSTANDARD = LVCMOS33;
NET "LEDBUS4" IOSTANDARD = LVCMOS33;
NET "LEDBUS3" IOSTANDARD = LVCMOS33;
NET "LEDBUS2" IOSTANDARD = LVCMOS33;
NET "LEDBUS1" IOSTANDARD = LVCMOS33;
NET "LEDBUS0" IOSTANDARD = LVCMOS33;


NET "PIN0" IOSTANDARD = LVCMOS33;
NET "PIN1" IOSTANDARD = LVCMOS33;
NET "PIN26" IOSTANDARD = LVCMOS33;
NET "PIN27" IOSTANDARD = LVCMOS33;


#NET "dummyOut"  IOSTANDARD = LVCMOS33;
NET "blinkerPORT" IOSTANDARD = LVCMOS33;
NET "odtPORT" IOSTANDARD = SSTL15_II;
NET "rasPORT" IOSTANDARD = SSTL15_II;
NET "resetPORT" IOSTANDARD = SSTL15_II;
NET "wePORT" IOSTANDARD = SSTL15_II;




# PlanAhead Generated IO constraints 

NET "addrPORT[14]" OUT_TERM = UNTUNED_50;
NET "addrPORT[13]" OUT_TERM = UNTUNED_50;
NET "addrPORT[12]" OUT_TERM = UNTUNED_50;
NET "addrPORT[11]" OUT_TERM = UNTUNED_50;
NET "addrPORT[10]" OUT_TERM = UNTUNED_50;
NET "addrPORT[9]" OUT_TERM = UNTUNED_50;
NET "addrPORT[8]" OUT_TERM = UNTUNED_50;
NET "addrPORT[7]" OUT_TERM = UNTUNED_50;
NET "addrPORT[6]" OUT_TERM = UNTUNED_50;
NET "addrPORT[5]" OUT_TERM = UNTUNED_50;
NET "addrPORT[4]" OUT_TERM = UNTUNED_50;
NET "addrPORT[3]" OUT_TERM = UNTUNED_50;
NET "addrPORT[2]" OUT_TERM = UNTUNED_50;
NET "addrPORT[1]" OUT_TERM = UNTUNED_50;
NET "addrPORT[0]" OUT_TERM = UNTUNED_50;
NET "baPORT[2]" OUT_TERM = UNTUNED_50;
NET "baPORT[1]" OUT_TERM = UNTUNED_50;
NET "baPORT[0]" OUT_TERM = UNTUNED_50;
NET "dataPORT[15]" OUT_TERM = UNTUNED_50;
NET "dataPORT[14]" OUT_TERM = UNTUNED_50;
NET "dataPORT[13]" OUT_TERM = UNTUNED_50;
NET "dataPORT[12]" OUT_TERM = UNTUNED_50;
NET "dataPORT[11]" OUT_TERM = UNTUNED_50;
NET "dataPORT[10]" OUT_TERM = UNTUNED_50;
NET "dataPORT[9]" OUT_TERM = UNTUNED_50;
NET "dataPORT[8]" OUT_TERM = UNTUNED_50;
NET "dataPORT[7]" OUT_TERM = UNTUNED_50;
NET "dataPORT[6]" OUT_TERM = UNTUNED_50;
NET "dataPORT[5]" OUT_TERM = UNTUNED_50;
NET "dataPORT[4]" OUT_TERM = UNTUNED_50;
NET "dataPORT[3]" OUT_TERM = UNTUNED_50;
NET "dataPORT[2]" OUT_TERM = UNTUNED_50;
NET "dataPORT[1]" OUT_TERM = UNTUNED_50;
NET "dataPORT[0]" OUT_TERM = UNTUNED_50;
#NET "dataFAST[0]" OUT_TERM = UNTUNED_50;
NET "casPORT" OUT_TERM = UNTUNED_50;
NET "ck_nPORT" OUT_TERM = UNTUNED_50;
NET "ck_pPORT" OUT_TERM = UNTUNED_50;
NET "ckePORT" OUT_TERM = UNTUNED_50;
NET "dqm0PORT" OUT_TERM = UNTUNED_50;
NET "dqm1PORT" OUT_TERM = UNTUNED_50;
NET "dqs0_nPORT" OUT_TERM = UNTUNED_50;
NET "dqs0_pPORT" OUT_TERM = UNTUNED_50;
NET "dqs1_nPORT" OUT_TERM = UNTUNED_50;
NET "dqs1_pPORT" OUT_TERM = UNTUNED_50;
NET "odtPORT" OUT_TERM = UNTUNED_50;
NET "rasPORT" OUT_TERM = UNTUNED_50;
NET "resetPORT" OUT_TERM = UNTUNED_50;
NET "wePORT" OUT_TERM = UNTUNED_50;
